insmod all_video
menuentry "Start QuemOS Live" --class quemos {
    linux /live/vmlinuz boot=live live-config username=user hostname=quemos user-fullname=QuemOS live-media-path=/live keyboard-layouts=us --
    initrd /live/initrd.img
}
